*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: unset;
}



body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

li {
    list-style: none;
}


